body{
  background-color: white;
  font-family: "Poppins", sans-serif !important;
}
.main-container{
  box-shadow: 2px 2px 2px 2px;
  height: 90vh;
  width: 97vw;
}
.upload-place{
  cursor: pointer;
  margin-left: 10%;
  margin-top: 50px;
}